<!DOCTYPE html>
<html>
  <head>
    <title>MovieMax</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <p><b><%= link_to 'Movie MAX', movies_path %></b><p>
    </header>
    <main>
      <%= form_tag(actors_path,method: :get, class: 'search-form') do%>
        <%= text_field_tag(:actor, params[:actor], placeholder: "search movies by actors name")%>
        <%= submit_tag('search')%>
      <%end%>
      <%= yield %>
    </main>
  </body>
</html>
